<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Pequenos Passos | Recuperar Senha</title>
  <link rel="stylesheet" href="/src/static/css/recuperarsenha.css" />
</head>
<body>
  <!-- Loader -->
   <body class="pagina-recuperarsenha">
  <div id="carregando">
    <div class="pes">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
      <img src="/SRC/STATIC/IMG/pes-de-bebe.png" alt="Ícone de pé">
    </div>
  </div>
  </body>
  <div class="page-wrapper">
    <div class="left-side">
      <img src="/src/static/img/imgfundo3.webp" alt="Pequenos Passos" class="img-fundo" />
    </div>

    <div class="right-side">
      <div class="login-box">
        <h3 class="title">Recuperar Senha</h3>

        <form id="recuperarForm" novalidate>
          <p class="texto">Digite o e-mail cadastrado. Enviaremos um link para redefinir sua senha.</p>
          
          <div class="inputs-row">
            <input type="email" id="email" name="email" placeholder="Seu e-mail" required />
          </div>

          <button type="submit" class="btn-signin">Enviar Link</button>

          <div class="links">
            <a href="/src/template/login.html" class="forgot">Voltar para o <span>Login</span></a>
          </div>

          <div id="msg" class="msg"></div>
        </form>
      </div>
    </div>
  </div>
<footer>
    <p class="copyright-small">© <span id="year"></span> Pequenos Passos. Todos os direitos reservados.</p>
    Desenvolvido por Alunos PJP SENAC (Gabriel, Kathlen, Maria e Rafaela)
  </footer>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script> 
    <script src="/SRC/STATIC/JS/loader-pezinhos.js"></script>
    <script type="module" src="/src/static/js/conectaApi.js"></script>
    <script type="module" src="/src/static/js/recuperarsenha.js"></script>
 
 
</body>
</html>
