.navbar,.navbarsobre{
  position:sticky;top:0;z-index:999;
  backdrop-filter:blur(10px);
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  box-shadow:0 4px 8px rgba(0,0,0,0.05);
}
.navbar{background:rgba(151,219,240,0.9)}
.navbar.scrolled{background:rgba(151,219,240,0.7)}
.navbarsobre{background:rgba(214, 245, 214, 0.9)}
.navbarsobre.scrolled{background:rgba(214, 245, 214, 0.7)}

.nav-container{
  max-width:1200px;margin:0 auto;
  padding:10px 16px;display:flex;
  align-items:center;justify-content:space-between
}
.nav-logo span {font-family: "Baloo 2", cursive;font-size:24px;}
.navbarsobre .nav-logo span {font-family: "Baloo 2", cursive;font-size:30px; color:#2b3352;}
.nav-logo{display:flex;align-items:center;gap:8px;font-weight:700;color:#333}
.nav-logo-img{width:80px;height:80px;border-radius:50%;object-fit:cover}
.nav-links{display:flex;align-items:center;gap:8px;list-style:none}
.nav-links a{
  color:#3245a3;text-decoration:none;
  padding:6px 10px;border-radius:8px;
  display:flex;align-items:center;gap:6px;
  transition:background .2s,color .2s
}
.nav-links a:hover{color:#1e2b8f; font-weight:600; background: #fff;}
.nav-links a.active{background: #fff; font-weight:600;}
.nav-links i{color:#3245a3} /*cor dos ícones*/
.btn-nav{background:#C8E6C9;color:#3245a3!important;border-radius:999px;padding:8px 14px} /*laranja cor do fundo do ENTRAR, azul cor do texto ENTRAR*/
.navbarsobre .nav-links a:hover {
  background: #fff;
}
.navbarsobre .nav-links a.active {
  background:#C8E6C9;
  font-weight: normal; /* não negrito no Sobre */
}
.navbarsobre .nav-links a.active:hover {
  background: #fff;
  font-weight: 600;
}

/* Exceção: Configurações ativo sem negrito */
.nav-links a[href$="configuracao.html"].active{
  font-weight: normal;
}


.nav-toggle{display:none}
@media(max-width:850px){
  .nav-toggle{display:block;font-size:1.6rem;background:none;border:none}
  .nav-links{
    position:absolute;top:60px;right:16px;
    flex-direction:column;background:#ffffff;
    border-radius:12px;padding:16px;
    box-shadow:0 6px 20px rgba(0,0,0,.08);
    display:none
  }
  .nav-links.show{display:flex}

  /* Estado selecionado no menu mobile: azul acinzentado */
  .nav-links a.active{background:#ddf0f8;}
  .navbarsobre .nav-links a.active{background:#ddf0f8;}
  .navbar .nav-links a.active{background:#ddf0f8; font-weight: 600;}
  
}
@media (max-width:850px) {
  .nav-links {
    transition: all 0.3s ease-in-out;
  }
}